@{
    ViewBag.Title = "Početna";
}

<h2>Početna</h2>

<div class="text-center text-light bg-dark p-1">Spisak tema</div>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th scope="row"><img src="https://findicons.com/files/icons/1721/dropline_nuovo/16/insert_image_small.png" /></th>
            <td>Python saveti</td>
            <td>MarkoR @DateTime.Now.AddDays(1)</td>
            <td>ZokiA @DateTime.Now.AddDays(2).AddMinutes(433)</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>IEnumerable vs IQueryiable</td>
            <td>MoR @DateTime.Now.AddDays(3)</td>
            <td>ZokiA @DateTime.Now.AddDays(4).AddMinutes(332)</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>ASP.NET MVC 5 literatura</td>
            <td>bik @DateTime.Now.AddDays(5)</td>
            <td>alek @DateTime.Now.AddDays(5).AddMinutes(148)</td>
        </tr>
    </tbody>
</table>