@model IEnumerable<ZrakForum.DataAccess.Models.ForumThread>

@{
    ViewBag.Title = "Index";
}


@Html.ActionLink("Nova tema", "Create", "Thread", null, new { @class = "btn btn-primary m-2" })

@if (Model.Any())
{
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThreadName)
            </th>
            <th class="ml-auto">
                @Html.DisplayNameFor(model => model.StartedBy)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ThreadName)
                </td>
                <td class="ml-auto">
                    @item.StartedBy @@ @item.StartedAt
                </td>
            </tr>
        }
    </table>
}
else
{
    <h2>Trenutno nema tema na ovom forumu</h2>
}
