@model IEnumerable<ZrakForum.DataAccess.Entities.Thread>

@{
    ViewBag.Title = "Index";
}


@if (Model.Any())
{
    <table class="table table-hover table-striped table-bordered">
        <thead class="bg-dark text-light">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.AuthorId)
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Name, "Show", "Forum", new { threadName = Server.UrlEncode(item.Name) }, null)
                </td>
                <td>
                    @item.AuthorId @item.CreatedAt
                </td>
            </tr>
        }
    </table>
}
else
{
    <h2>Trenutno nema tema na ovom forumu</h2>
}

@Html.ActionLink("Nova tema", "Create", "Thread", null, new { @class = "btn btn-dark mb-2 float-right" })

